# Importing libraries

In [5]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
warnings.filterwarnings('ignore')

# Loading the dataset

In [6]:
df = pd.read_csv('london_merged.csv')

# Data Exploration

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17414 entries, 0 to 17413
Data columns (total 10 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   timestamp     17414 non-null  object
 1   cnt           17414 non-null  int64
 2   t1            17414 non-null  float64
 3   t2            17414 non-null  float64
 4   hum           17414 non-null  float64
 5   wind_speed    17414 non-null  float64
 6   weather_code  17414 non-null  float64
 7   is_holiday    17414 non-null  float64
 8   is_weekend    17414 non-null  float64
 9   season        17414 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 1.3+ MB

In [9]:
df.shape

(17414, 10)

In [11]:
df.head(10)

,timestamp,cnt,t1,t2,hum,wind_speed,weather_code,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,93.0,6.0,3.0,0.0,1.0,3.0
1,2015-01-04 01:00:00,138,3.0,2.5,93.0,5.0,1.0,0.0,1.0,3.0
2,2015-01-04 02:00:00,134,2.5,2.5,96.5,0.0,1.0,0.0,1.0,3.0
3,2015-01-04 03:00:00,72,2.0,2.0,100.0,0.0,1.0,0.0,1.0,3.0
4,2015-01-04 04:00:00,47,2.0,0.0,93.0,6.5,1.0,0.0,1.0,3.0
5,2015-01-04 05:00:00,46,2.0,2.0,93.0,4.0,1.0,0.0,1.0,3.0
6,2015-01-04 06:00:00,51,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
7,2015-01-04 07:00:00,75,1.0,-1.0,100.0,7.0,4.0,0.0,1.0,3.0
8,2015-01-04 08:00:00,131,1.5,-1.0,96.5,8.0,4.0,0.0,1.0,3.0
9,2015-01-04 09:00:00,301,2.0,-0.5,100.0,9.0,3.0,0.0,1.0,3.0

# Counting the unique values in the weather_code column

In [12]:
df.weather_code.value_counts()

1.0     6150
2.0     4034
3.0     3551
7.0     2141
4.0     1464
26.0      60
10.0      14
Name: weather_code, dtype: int64

# Counting the unique values in the season column

In [15]:
df.season.value_counts()

0.0    4394
1.0    4387
3.0    4330
2.0    4303
Name: season, dtype: int64

# Specifying the column names as per convenience

In [17]:
new_col_dict = {
    'timestamp': 'time' ,     
    'cnt' : 'count'   ,         
    't1' : 'real_temp_C' ,           
    't2' : 'feels_like_temp_C' ,           
    'hum' : 'humidity_percent'  ,         
    'wind_speed' : 'wind_speed_kph'  ,  
    'weather_code' : 'weather',  
    'is_holiday' :    'is_holiday',
    'is_weekend' :     'is_weekend', 
    'season' :     'season',  
}

# Renaming the columns to the specified column names

In [18]:
df.rename(new_col_dict, axis =1, inplace=True)

# Changing the humidity values to percentage (i.e. a value between 0 and 1)

In [19]:
df.humidity_percent = df.humidity_percent/100

# Creating dictionary for Season so that we can map the integers 0-3 to the actual written values

In [20]:
season_dict = {
'0.0' : 'Spring',
    '1.0' : 'Summer',
    '2.0' : 'Autumn',
    '3.0' : 'Winter',
}

# Creating dictionary for Weather so that we can map the integers 0-3 to the actual written values

In [22]:
weather_dict = {
'1.0' : 'Clear' ,    
'2.0' : 'Scattered clouds' , 
    '3.0' : 'Broken clouds' , 
    '7.0' : 'Cloudy' , 
    '4.0' : 'Rain' , 
    '26.0' : 'Rain with thunderstorm' , 
    '10.0' : 'Snowfall' , 
}

# Changing the data type of Season column to string

In [23]:
df.season = df.season.astype("str")

# Changing the data type of Weather column to string

In [24]:
df.weather = df.weather.astype("str")

# Mapping the values of Season column (0-3) to the actual written seasons

In [25]:
df.season = df.season.map(season_dict)

# Mapping the values of Season column (0-3) to the actual written seasons

In [26]:
df.weather = df.weather.map(weather_dict)

# Checking the dataframe to see if the mapping function has worked

In [27]:
df.head(10)

,time,count,real_temp_C,feels_like_temp_C,humidity_percent,wind_speed_kph,weather,is_holiday,is_weekend,season
0,2015-01-04 00:00:00,182,3.0,2.0,0.930,6.0,Broken clouds,0.0,1.0,Winter
1,2015-01-04 01:00:00,138,3.0,2.5,0.930,5.0,Clear,0.0,1.0,Winter
2,2015-01-04 02:00:00,134,2.5,2.5,0.965,0.0,Clear,0.0,1.0,Winter
3,2015-01-04 03:00:00,72,2.0,2.0,1.000,0.0,Clear,0.0,1.0,Winter
4,2015-01-04 04:00:00,47,2.0,0.0,0.930,6.5,Clear,0.0,1.0,Winter
5,2015-01-04 05:00:00,46,2.0,2.0,0.930,4.0,Clear,0.0,1.0,Winter
6,2015-01-04 06:00:00,51,1.0,-1.0,1.000,7.0,Rain,0.0,1.0,Winter
7,2015-01-04 07:00:00,75,1.0,-1.0,1.000,7.0,Rain,0.0,1.0,Winter
8,2015-01-04 08:00:00,131,1.5,-1.0,0.965,8.0,Rain,0.0,1.0,Winter
9,2015-01-04 09:00:00,301,2.0,-0.5,1.000,9.0,Broken clouds,0.0,1.0,Winter

# Writing the final dataframe to an excel file which we will use in our Power BI visualisations. The file will be 'london_bikes_output.xlsx'

In [32]:
df.to_excel("london_bikes_output.xlsx",
              sheet_name='Data')